.hs2{
     text-align:center; 
     padding-top: 80px;
     height:200px;
}
.listedtails{
   
    vertical-align: middle;
    box-sizing: border-box;
    background: #f6f6f6;
    text-align: left;
  
    padding: 5px;
    font-size: 12px;
  
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}
