  
    <h2 style="color:cornflowerblue">
     CONVERSE Chuck Taylor All Star Ox W  {{ model.nom_model  }}  {{model.id_model}} 

    
  </h2>
<div class="row" id="prod">
  
       <div  class="imagesView thumbnail">
    
             <img  alt="logo" src="assets/images/1.jpg">
             <img  alt="logo" src="assets/images/2.jpg">
             <img  alt="logo"  src="assets/images/3.jpg">
    
       </div>
        <div class="bigView">
                  <img  alt="logo" src="assets/images/3.jpg">
        </div>


  <div class="prodetails"> 
          <h5>PRIX :</h5>
          <h3 style="color:crimson">149,95 € {{model.prix_unitaire}}</h3>
          <h5>En stock - Plus que 8 articles disponibles</h5> 
        
          Couleur :{{model.couleur}}
          <br>



          Choisissez une taille:
                <select class="form-control">
                  <option value="valeur1">42</option> 
                  <option value="valeur2" selected>44</option>
                  <option value="valeur3">41</option>
                  </select>
            <br>
          <a class="btn btn-primary btn-lg btn-block" routerLink="/produits">
                    <span class="glyphicon glyphicon-shopping-cart"></span> AJOUTER AU PANIER
          </a>

           <br> <span class="glyphicon glyphicon-ok"></span> LIVRAISON GRATUITE<br>
             <span class="glyphicon glyphicon-ok"></span> EXPÉDIÉ DEMAIN<br>
             <span class="glyphicon glyphicon-ok"></span> 30 JOURS POUR CHANGER D'AVIS



  </div>


  <div class="description">
      <h4>DESCRIPTION :  CONVERSE Chuck Taylor All Star Ox W </h4>
          <P>   Chaussures Homme Converse - Modèle Basic Basse Toile - Coloris Blanc - 
                Extérieur en toile - Confort parfait - Semelle extérieure anti-dérapante Extérieur : 
                 Textile Intérieur : Textile Semelle : Caoutchouc Fermeture : Lacets Conseil :
                 Ce modèle taille grand, nous vous conseillons de prendre une taille en dessous 
                 de votre pointure habituelle !

               
          </P>  
          {{model.description}}

  </div>





</div>