
  <div class="row">
    <!--<h2 style="color:cornflowerblue">{{articles[0].model.nom_model}}</h2>-->

  
    <!--<h2 style="color:cornflowerblue" >ART0 = {{articles[0].model.nom_model}}</h2>-->
  
      <h2 style="color:cornflowerblue" *ngIf="model">{{model.nom_model}}</h2>


      <div class="row" id="prod">
  
       <!--<div  class="imagesView thumbnail">
    
             <img  alt="logo" src="assets/images/1.jpg">
             <img  alt="logo" src="assets/images/2.jpg">
             <img  alt="logo"  src="assets/images/3.jpg">
    
       </div>-->
        <div class="bigView">
                 <img *ngIf="model" alt="photo_article" src="assets/images/{{model.nom_model }}.jpg">
        </div>


  <div class="prodetails"> 
          <h4>PRIX :
          <span style="color:crimson" *ngIf="model">{{model.prix_unitaire}} € </span>
          </h4>
          
          <strong>Couleur:</strong><span *ngIf="model">{{model.couleur}}</span><br>
         <br><br>

          <select [(ngModel)]="selectedValue" class="form-control" >
                  <option value="0" selected="selected">CHOISISSEZ VOTRE TAILLE</option>
                  <option *ngFor="let t_possible of tailles_possible" value="{{t_possible}}">
                        {{t_possible}}  {{comments[t_possible]}}
                  </option>
            </select>


            <br>
      
         <!--<a class="btn btn-primary btn-lg btn-block" (click)="ajoutPanier()">-->
          <a class="btn btn-primary btn-lg btn-block" routerLink="/cart" (click)="ajoutPanier()">
                    <span class="glyphicon glyphicon-shopping-cart"></span> AJOUTER AU PANIER
          </a>
                  <span *ngIf="model">{{alerting[model.nom_model]}}</span>
           <br> <span class="glyphicon glyphicon-ok"></span> LIVRAISON GRATUITE<br>
             <span class="glyphicon glyphicon-ok"></span> EXPÉDIÉ DEMAIN<br>
             <span class="glyphicon glyphicon-ok"></span> 30 JOURS POUR CHANGER D'AVIS

  </div>
 <div>
       <strong> Description:</strong><br><span *ngIf="model">{{model.description}}</span>
  </div>
 
 </div>
