
<section>
<div class="container">
	<div class="row">
		<div class="col-md-8">
            <h2 style="color:cornflowerblue">{{articles[0].model.nom_model}} {{articles[0].model.id_model}}</h2>
  
                  <!--<h2 style="color:cornflowerblue"    *ngIf="articles[0]"    >ART0 = {{articles[0].model.nom_model}}</h2>-->
            <div class="imagesView" >
                <img  class="img-responsive" width="350" height="300" alt="photo_article" src="assets/images/{{ articles[0].model.nom_model }}.jpg">
             
            </div><hr>
            </div>

      



      <div class="col-md-4">
      <div class="right-sidebar">
            <div class="prodecart"> 
                  <h4>PRIX :
                  <span style="color:crimson">{{articles[0].model.prix_unitaire}} € </span>
                  </h4>
                  
                  <strong>Couleur:</strong> {{articles[0].model.couleur}}<br>
                  <br><br>

                  <select [(ngModel)]="selectedValue" class="form-control" >
                              <option value="0" selected="selected">CHOISISSEZ VOTRE TAILLE</option>
                              <option *ngFor="let t_possible of tailles_possible" value="{{t_possible}}">

                                    {{t_possible}}  {{comments[t_possible]}}
                              </option>
                        </select>


                        <br>
                  
                  <a class="btn btn-danger btn-lg btn-block" routerLink="/cart" (click)="ajoutPanier()">
                              <span class="glyphicon glyphicon-shopping-cart"></span> AJOUTER AU PANIER
                  </a>
                  <span *ngIf="model">{{alerting[model.nom_model]}}</span>
                  <br> <span class="glyphicon glyphicon-ok"></span> LIVRAISON GRATUITE<br>
                        <span class="glyphicon glyphicon-ok"></span> EXPÉDIÉ DEMAIN<br>
                        <span class="glyphicon glyphicon-ok"></span> 30 JOURS POUR CHANGER D'AVIS
                  
            </div>
             </div>
       </div>

      </div>


      <div class="row">
                  <div class="col-md-10">
             <div>
            <strong> Description:</strong><br><span *ngIf="model">{{model.description}}</span>
            </div> 
      </div>
</div>



</div>
</section>





