


<nav class="navbar navbar-default">
  
  <div class="container-fluid">
    
    <div class="navbar-header">
      
      
        <a class="navbar-brand" href="#" routerLink="/models">  
         <img  alt="logo" class="col-md-4" src="assets/images/fitec_logo.png">
       <!--  <span class=" glyphicon glyphicon-home"></span> -->
        
       </a>

     
    
        <ul class="nav navbar-nav navbar-right">
          
        <li class="nav-item active"><a class="nav-link" routerLink="/models/0" routerLinkActive="active">Acceuil</a></li>
        
     <li class="nav-item"><a class="nav-link" routerLink="/models/1" routerLinkActive="active" >Hommes</a></li>

           <li class="nav-item"><a class="nav-link" routerLink="/models/2" routerLinkActive="active">Femmes</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/models/3" routerLinkActive="active">Kids</a></li>

             <li class="nav-item"><a class="nav-link" routerLink="/register" routerLinkActive="active">Inscription</a></li>
             <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">Connexion</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/cart" routerLinkActive="active">Panier {{compteur}}</a></li>

    
        </ul>
    </div> 

  </div>
  
</nav>


<!-- 
  <li class="nav-item"><a class="nav-link" routerLink="/nouveaute" routerLinkActive="active">Nouveauté</a></li>
             <li class="nav-item"><a class="nav-link" routerLink="/promotion" routerLinkActive="active">Promotion</a></li>
             <li class="nav-item"><a class="nav-link" routerLink="/auteurs" routerLinkActive="active">Auteurs</a></li>
  -->